.right-corner{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 16.6vw;
    height: 16.6vw; 
    background-color: rgb(71,109,244);
    border-top-left-radius: 100%;
    outline: none;
    cursor: pointer;
}

.corner-text{
    position: relative;
    top: 60%;
    left: 40%;
    transform: translateY(-50%); 
    color: white;
    font-size: 1.2em;
}