<div class="illustration">
    <i class="icon ion-ios-navigate">Spark</i>
  </div>
  
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="image-container card-body">
              <div class="img-wrap">
                  <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
              </div>
              <div class="img-wrap">
                  <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
              </div>
              <div class="img-wrap">
                  <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
              </div>
              <div class="img-wrap">
                  <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="rating-container">
            <h3>Attractive</h3>
              <div class="rating-attractive">
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
              </div>
          </div>
          <div class="rating-container">
              <h3>Smart</h3>
                <div class="rating-smart">
                  <i class="fas fa-heart"></i>
                  <i class="fas fa-heart"></i>
                  <i class="fas fa-heart"></i>
                  <i class="fas fa-heart"></i>
                  <i class="fas fa-heart"></i>
                </div>
            </div>
            <div class="rating-container">
                <h3>Trustworthy</h3>
                  <div class="rating-trustworthy">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                  </div>
              </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          
        </div>
      </div>
    </div>

  <app-left-bottom-corner></app-left-bottom-corner>
  