.container{
    background-color:white;
    border-radius: 15px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

.card{
    border:0px;
}

.illustration {
    text-align: center;
    padding: 0 0 5px;
    font-size: 50px;
    color: #3b8deb;
}

.image-container{
    height:250px;
    padding: 5px;
}

.img-circle{
    border-radius:50%;
}

.primary-img{
    max-width:100px;
    max-height:200px;
}

.secondary-img{
    /*width: 60px;
    height:60px;*/
    width: 100%;
    height:auto;
    margin: 5px;
}

.img-wrap{
    position:relative;
    width: 50%;
    height:auto;
    padding:2px;
    display:inline-block;
    opacity:.8
}

.img-wrap :hover{
    opacity: .9;
}

.close{
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    color:red;
}

.save-btn{
    float:right;
}

.sub-title{
    font-weight:600;
}

.rating-container{
    margin-left: auto;
    margin-right: auto;
    width: 9em
}

.fa-heart{
    padding-left:2px;
    padding-right:2px;
    font-size: 20px;
}

.rating-attractive{
    color:#E71D36;
}

.rating-smart{
    color:#2EC4B6;
}

.rating-trustworthy{
    color:#4D6FFC;
}
