<div class="illustration">
  <i class="icon ion-ios-navigate">Spark</i>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="image-container card-body">
            <div class="img-wrap">
                <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
                <span class="close">X</span>
            </div>
            <div class="img-wrap">
                <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
                <span class="close">X</span>
            </div>
            <div class="img-wrap">
                <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
                <span class="close">X</span>
            </div>
            <div class="img-wrap">
                <img src="https://www.teksteshqip.com/img_upz/galeri_full/157/157947.jpg" class="secondary-img img-circle">
                <span class="close">X</span>
            </div>
          </div>
        </div>
        <br/>
        <button type="button" class="btn btn-primary">Feltöltés...</button>
      </div>
      <div class="col-sm-9">
        <form>
          <div class="form-group">
            <label class="sub-title">Felhasználó név</label>
            <input type="nickname" class="form-control">
          </div>
          <div class="form-group">
            <label class="sub-title">Születési idő</label>
            <input type="day" class="form-control" id="start" name="start" value="2019-01-01">
          </div>
          <div class="row">
            <div class="form-group col-md-2">
                <label class="sub-title">Nem</label>
              <div class="radio">
                <label><input type="radio" name="gender"> Férfi</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="gender"> Nő</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <label class="sub-title">Érdeklődés</label>
            <div class="radio">
              <label><input type="radio" name="interested"> Férfi</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="interested"> Nő</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="interested"> Mindkettő</label>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Bemutatkozás</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
    <button type="button" class="save-btn btn btn-primary">Mentés</button>
  </div>
